<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-2">
            <p>
              <a class="btn btn-outline-success" href="/">
                <i class="bi bi-arrow-left-square-fill"></i> Back</a>
            </p>
        </div>
        <div class="col-6">
            <h2>Add a new book</h2>
            <form action="#" th:action="@{/book}" th:object="${book}" method="POST">
                <div class="form-group">
                    <p>
                        <label for="customFile">Upload book cover</label>
                        <input class="form-control"
                               type="file"
                               accept="file_extension|image/*"
                               id="customFile"
                        >
                    </p>
                    <p>
                        <label for="author">Author</label>
                        <input class="form-control"
                               type="text"
                               th:field="*{author}"
                               id="author"
                               placeholder="Author"
                        >
                        <label for="name">Book Name</label>
                        <input class="form-control"
                               type="text"
                               th:field="*{name}"
                               id="name"
                               placeholder="Lord of the Rings"
                        >
                        <label for="summary"
                               class="form-label">Summary</label>
                        <textarea class="form-control"
                               rows="5"
                               th:field="*{summary}"
                               id="summary"
                               placeholder="A hobbit named Frodo inherit the One Ring...">
                        </textarea>
                        <label for="pages">Pages</label>
                        <input class="form-control"
                               type="text"
                               th:field="*{pages}"
                               id="pages"
                               placeholder="1021"
                        >
                        <label for="genre">Genre</label>
                        <select class="form-select"
                                id="genre"
                                name="genre">
                            <option selected></option>
                            <option value="action">Action</option>
                            <option value="adventure">Adventure</option>
                            <option value="comedy">Comedy</option>
                            <option value="crime">Crime</option>
                            <option value="mystery">Mystery</option>
                            <option value="fantasy">Fantasy</option>
                            <option value="horror">Horror</option>
                            <option value="sciencefiction">Science fiction</option>
                            <option value="novel">Novel</option>
                            <option value="biography">Biography</option>
                        </select>
                        <label for="language">Language</label>
                        <select class="form-select"
                                id="language"
                                name="language">
                            <option selected></option>
                            <option value="english">English</option>
                            <option value="russian">Russian</option>
                            <option value="bulgarian">Bulgarian</option>
                            <option value="french">French</option>
                            <option value="italian">Italian</option>
                            <option value="spanish">Spanish</option>
                            <option value="germany">Germany</option>
                        </select>
                    </p>
                    <button type="submit"
                            class="btn btn-outline-success">
                        > Add book
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>